body{
    background-color: lightpink;
    
}
h1 {
    text-align: center;
}
/* Add a white background color to the top navigation */
.topnav {
    background-color: rgb(228, 222, 222);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #131212;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 22%;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:hsl(196, 48%, 74%);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: hsl(196, 48%, 74%);
    color: white;
  }
.bottomnav {
    background-color: rgb(228, 222, 222);
    overflow: hidden;
    position: fixed; 
    bottom: 0;
    width: 99%;
}
  
    /* Style the links inside the navigation bar */
    .bottomnav p {
        float: left;
        color: #131212;
        text-align: center;
        padding: 2px 16px;
        text-decoration: none;
        font-size: 17px;
        width: 22%;
    }
    
    /* Change the color of links on hover */
    .bottomnav p:hover {
        background-color:hsl(196, 48%, 74%);
        color: black;
    }
    
    /* Add a color to the active/current link */
    .bottomnav p.active {
        background-color: hsl(196, 48%, 74%);
        color: white;
    }

/* styling til garn.html av Johanne*/

.flex {
  display: flex;
  flex-direction: row;
}


.bilde{
  width: 250px;
  height:300px;
  margin-left:100%;
  margin-top: 30%;
  margin-bottom: 30%;
}

.tekst{
  width: 50%;
  margin-left:35%;
  margin-top: 55px;
  line-height: 2;
}

.tittel{
  font-weight: bold;
}
/* stopp styling til garn.html av Johanne*/


/* styling til omoss.html av Ingeborg*/
.text{
  width: 50%;
  margin-left:15%;
  margin-top: 55px;
  line-height: 2;
}